@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
  --fuente-principal: "Kanit", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  line-height: 1.5;
  min-height: 100vh;
  background-color: #374259;
}

body h1 {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-size: 10rem;
  letter-spacing: 4px;
  /* -webkit-text-stroke: 3px var(--primary); */
}
